source "drivers/soc/oplus/device_info/Kconfig"
source "drivers/soc/oplus/oplus_custom/Kconfig"
source "drivers/soc/oplus/game_opt/Kconfig"
source "drivers/soc/oplus/oplus_als_cali_value/Kconfig"
source "drivers/soc/oplus/svelte/Kconfig"
source "drivers/soc/oplus/cmdline_parser/Kconfig"
source "drivers/soc/oplus/oplus_pmic_monitor_mtk/Kconfig"
source "drivers/soc/oplus/system/Kconfig"
